.food-report {
  background: #EFEFEF;
  border-radius: 5px;
  padding: 10px;
}
.food-report h2{
  margin: 0;
  width: calc(100% - 60px);
  text-align: center;
  color: darkgreen;
}
.food-report .food-report--header .label{
  float: right;
  font-size: 1em;
}
.food-report h4{
  clear: both;
  margin: 5px 0;
  color: #666;
}
.food-report .table > thead > tr > th{
  vertical-align: middle;
  text-align: center;
  font-size: 0.9em;
}
.food-report .table-group-label{
  background: green;
  color: white;
  padding-left: 30px;
}