.food-list .table{
  background: #EFEFEF;
  border-radius: 5px;
}
.food-list tbody > tr:hover{
  background: #CFC;
  color: #333;
  cursor: pointer;
  transition: 1s background;
}
.food-list nav{
  text-align: center;
}
.food-list .pagination a{
  cursor: pointer;
}