<div class="food-list">
<table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Group</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in searchResults.item" ng-click="gotToReport(item)">
        <td>{{item.ndbno}}</td>
        <td>{{item.name}}</td>
        <td>{{item.group}}</td>
        <td ng-click="toggleFavorite($event,item)">
          <i class="fa" ng-class="item.isFavorite ? 'fa-star' : 'fa-star-o'"></i>
        </td>
      </tr>
    </tbody>
</table>
</div>