<div class="food-list">
<table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Group</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in searchResults.item" ng-click="gotToReport(item)">
        <td>{{item.ndbno}}</td>
        <td>{{item.name}}</td>
        <td>{{item.group}}</td>
        <td ng-click="toggleFavorite($event,item)">
          <i class="fa" ng-class="item.isFavorite ? 'fa-star' : 'fa-star-o'"></i>
        </td>
      </tr>
    </tbody>
</table>
  <nav>
  <ul class="pagination">
    <li ng-class="{'disabled':currentPage===1}"}>
      <a href="#" aria-label="Previous" ng-click="goPrevious($event)">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li ng-repeat="page in pages" ng-class="{'active':currentPage===page}"><a ng-click="goToPage($event, page)">{{page}}</a></li>
    <li ng-class="{'disabled':isLastPage()}">
      <a href="#" aria-label="Next" ng-click="goNext($event)">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
</div>