.food-search{
  margin-top: 20%;
}
.food-search.with-a-search{
  margin-top: 0;
}
.food-search.with-a-search.jumbotron{
  padding: 10px;
  margin: -15px 0 20px;
}
.food-search input{
  font-size: 2em;
  width: calc(100% - 50px);
}
.food-search .btn{
  vertical-align: top;
  margin-top: 5px;
}
.food-search .alert{
  margin: 10px;
}